.black {
  color: black;
}

.bg-black {
  background-color: black;
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.red {
  color: red;
}

.valencia {
  color: #D94A38;
}

.avocado {
  color: #848C58;
}
