/* PRIKAZ */

.sadrzaj {
  padding: 0 15%;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

/* VIDLJIVOST */

.none,
.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* POMOC */

.full {
  width: 100%;
}
