.interfejs {
  position: absolute;
  padding: .25em;
  border-radius: 5px;
}


/* KOMANDE */

.komande1, .komande2 {
  top: 30px;
}

.komande1 {
  left: 30px;
}

.komande2 {
  right: 30px;
}


/* ENERGIJA */

.progress-wrapper {
  position: relative;
}

.progress {
  background-color: inherit;
  display: block;
  height: 24px;
  width: 100%;
}

.energija {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.tabela {
  position: absolute;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000;
  left: 30px;
  top: 30px;
  z-index: 999;
  color: white;
}
