@font-face {
  font-family: '1942';
  src: url('../fontovi/1942.ttf');
}

@font-face {
  font-family: 'Special Elite';
  src: url('../fontovi/SpecialElite.ttf');
}

.1942 {
  font-family: '1942';
}

.elite {
  font-family: 'Special Elite';
}
